<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@(ViewData["Title"]) - 开心狗</title>
    <meta name="description" content="@ViewData["Description"]" />
    <meta name="keywords" content="@ViewData["Keywords"]" />
    <link href="https://upyun.doghappy.wang/blog/wwwroot/favicon.ico" rel="icon" type="image/x-icon" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@@fortawesome/fontawesome-free@5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/animate.css@4.1.1/animate.min.css" rel="stylesheet" />
    <link href="https://upyun.doghappy.wang/blog/wwwroot/fonts/iconfont.css" rel="stylesheet" />
    <link href="https://upyun.doghappy.wang/blog/wwwroot/css/site.css" rel="stylesheet" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="@Url.Action("Index","Article")">
                <img src="https://upyun.doghappy.wang/blog/wwwroot/favicon.ico" width="30" height="30" class="d-inline-block align-top" />
                开心狗
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle@(ViewBag.CategoryActive != null ? " active" : "")" href="javascript:" data-bs-toggle="dropdown">
                            <i class="fas fa-list"></i>
                            分类
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item@(ViewContext.RouteData.Values["action"].ToString().ToLower() == "net" ? " active" : "")" href="@Url.Action("Net","Article")">
                                    <i class="iconfont icon-net"></i>
                                    .NET
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item@(ViewContext.RouteData.Values["action"].ToString().ToLower() == "java" ? " active" : "")" href="@Url.Action("Java","Article")">
                                    <i class="fas fa-mug-hot"></i>
                                    Java
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item@(ViewContext.RouteData.Values["action"].ToString().ToLower() == "database" ? " active" : "")" href="@Url.Action("Database","Article")">
                                    <i class="fa fa-database"></i>
                                    数据库
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item@(ViewContext.RouteData.Values["action"].ToString().ToLower() == "windows" ? " active" : "")" href="@Url.Action("Windows","Article")">
                                    <i class="fab fa-windows"></i>
                                    Windows
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item@(ViewContext.RouteData.Values["action"].ToString().ToLower() == "read" ? " active" : "")" href="@Url.Action("Read","Article")">
                                    <i class="fas fa-book"></i>
                                    阅读
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item@(ViewContext.RouteData.Values["action"].ToString().ToLower() == "essays" ? " active" : "")" href="@Url.Action("Essays","Article")">
                                    <i class="fas fa-pencil-alt"></i>
                                    随笔
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item@(ViewContext.RouteData.Values["controller"].ToString().ToLower() == "tag" ? " active" : "")">
                        <a class="nav-link" asp-controller="Tag" asp-action="List">
                            <i class="fa fa-tags"></i>
                            标签
                        </a>
                    </li>
                </ul>
                <form class="form-inline col-sm-12 col-md-4 col-lg-2" method="get"
                      asp-controller="Article"
                      asp-action="Search" style="padding:0;">
                    <div class="input-group input-group-sm" style="width:100%; max-width:unset;">
                        <input type="text" name="q" class="form-control" placeholder="搜索一下" value="@ViewData["SearchValue"]" />
                        <button class="btn btn-outline-secondary">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </nav>

    @RenderBody()

<footer class="container">
    <hr />
    <div>
        <a class="text-secondary text-decoration-none" href="https://github.com/doghappy" target="_blank">
            <i class="fab fa-github f-2"></i>
        </a>
        <a class="text-secondary text-decoration-none" href="mailto:hero_wong@outlook.com" target="_blank">
            <i class="fa fa-envelope f-2"></i>
        </a>
        <a class="text-secondary text-decoration-none" href="https://www.upyun.com/?utm_source=lianmeng&utm_medium=referral" target="_blank">
            <i class="iconfont icon-upyun f-2"></i>
        </a>
    </div>
    <p class="footer-text text-muted">
        Released by Azure DevOps
    </p>
    <p class="footer-text text-muted">
        Powered by .NET 5 on Docker
    </p>
    <p class="footer-text text-muted">
        Version: @Program.Version
    </p>
    <p class="footer-text">
        <a class="text-muted text-decoration-none" target="_blank" href="http://beian.miit.gov.cn/">鄂ICP备17019876号</a>
    </p>
</footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
    <script src="https://upyun.doghappy.wang/blog/wwwroot/js/baidu-statistics.js"></script>
</body>
</html>
