<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@(ViewData["Title"]) - 开心狗</title>
    <meta name="description" content="@ViewData["Description"]" />
    <meta name="keywords" content="@ViewData["Keywords"]" />
    @*<environment include="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/site.css" />
        </environment>
        <environment exclude="Development">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        </environment>*@
    <link href="~/favicon.ico" rel="icon" type="image/x-icon">
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/iconfont.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    @RenderSection("Styles", required: false)
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="@Url.Action("Index","Article")">
            <img src="~/favicon.ico" width="30" height="30" class="d-inline-block align-top" />
            开心狗
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item@(ViewContext.RouteData.Values["action"].ToString().ToLower() == "net" ? " active" : "")">
                    <a class="nav-link" href="@Url.Action("Net","Article")">
                        <i class="iconfont icon-net"></i>
                        .Net
                    </a>
                </li>
                <li class="nav-item@(ViewContext.RouteData.Values["action"].ToString().ToLower() == "database" ? " active" : "")">
                    <a class="nav-link" href="@Url.Action("Database","Article")">
                        <i class="fa fa-database"></i>
                        数据库
                    </a>
                </li>
                <li class="nav-item@(ViewContext.RouteData.Values["action"].ToString().ToLower() == "windows" ? " active" : "")">
                    <a class="nav-link" href="@Url.Action("Windows","Article")">
                        <i class="fa fa-windows"></i>
                        Windows
                    </a>
                </li>
                <li class="nav-item@(ViewContext.RouteData.Values["action"].ToString().ToLower() == "read" ? " active" : "")">
                    <a class="nav-link" href="@Url.Action("Read","Article")">
                        <i class="iconfont icon-book"></i>
                        阅读
                    </a>
                </li>
                <li class="nav-item@(ViewContext.RouteData.Values["action"].ToString().ToLower() == "essays" ? " active" : "")">
                    <a class="nav-link" href="@Url.Action("Essays","Article")">
                        <i class="fa fa-pencil"></i>
                        随笔
                    </a>
                </li>
                <li class="nav-item@(ViewContext.RouteData.Values["action"].ToString().ToLower() == "about" ? " active" : "")">
                    <a class="nav-link" href="@Url.Action("About","Home")">
                        <i class="fa fa-user"></i>
                        关于
                    </a>
                </li>
            </ul>
            <!--<form class="form-inline d-none d-md-block d-lg-block">
              <div class="input-group">
                <input type="text" class="form-control" />
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary">搜索</button>
                </div>
              </div>
            </form>-->
            <form class="form-inline col-sm-2" method="get"
                  asp-controller="Article"
                  asp-action="Search" style="padding:0;">
                <input type="text" name="q" class="form-control form-control-sm"
                       style="width:100%; max-width:unset;"
                       placeholder="搜索一下"
                       value="@ViewData["SearchValue"]" />
            </form>
        </div>
    </nav>

    @*<partial name="_CookieConsentPartial" />*@

    @RenderBody()
    @*<div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; 2018 - HappyDog.WebUI</p>
            </footer>
        </div>*@

    <footer class="footer bg-dark">
        <ul class="text-center">
            <li class="nav-item">
                <a class="nav-link text-light" href="https://github.com/doghappy" style="padding:0 8px" target="_blank">
                    <i class="fa fa-github fa-2x"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="mailto:hero_wong@outlook.com" style="padding:0 8px" target="_blank">
                    <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
        <p class="text-center">
            <span class="text-light">&copy; 2018 - 开心狗</span>
            <a class="text-light" target="_blank" href="http://www.miitbeian.gov.cn/">鄂ICP备17019876号</a>
        </p>
    </footer>

    @*<environment include="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment exclude="Development">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>*@
    <script src="//code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="//stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    @RenderSection("Scripts", required: false)
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?292945d726b0bc3358bf43ff9409093e";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</body>
</html>
