@model ICollection<HappyDog.Domain.DataTransferObjects.Tag.TagDto>

@if (Model != null && Model.Count > 0)
{
    <p class="mb-1 text-muted">
        @foreach (var tag in Model)
        {
            if (string.IsNullOrEmpty(tag.Color))
            {
                <a class="badge badge-light border border-secondary text-secondary"
                   asp-controller="Tag"
                   asp-action="Article"
                   asp-route-name="@tag.Name">
                    <i class="fa fa-tag"></i>
                    @tag.Name
                </a>
            }
            else
            {
                <a class="badge badge-light" style="border:1px solid @(tag.Color); color:@(tag.Color)"
                   asp-controller="Tag"
                   asp-action="Article"
                   asp-route-name="@tag.Name">
                    <i class="fa fa-tag"></i>
                    @tag.Name
                </a>
            }
        }
    </p>
}