@using HappyDog.Domain.Enums
@model List<HappyDog.Domain.DataTransferObjects.Article.ArticleDto>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-6 mb-3">
            <div class="card@(item.Status == BaseStatus.Disable ? " text-white bg-secondary" : "")">
                <div class="card-body">
                    <a href="@Url.Action(item.Category.Value, "Article")">
                        <strong style="color:@item.Category.Color">@item.Category.Label</strong>
                    </a>
                    <h5 class="card-title">
                        <a class="@(item.Status == BaseStatus.Enable ? "text-dark" : "text-white")" href="@Url.Action("Detail",new { id = item.Id })">
                            @item.Title
                        </a>
                    </h5>
                    <p class="mb-1 @(item.Status == BaseStatus.Enable ? "text-muted" : "text-light")">
                        <i class="fa fa-calendar"></i>
                        @item.CreateTime.ToString("yyyy/MM/dd")
                    </p>
                    <p class="mb-1">
                        <span class="badge badge-success" data-toggle="tooltip" title="点击量：@item.ViewCount">
                            <i class="fa fa-line-chart" aria-hidden="true"></i>
                            @item.ViewCount
                        </span>
                    </p>
                </div>
            </div>
        </div>
    }
</div>