@model HappyDog.Domain.Entities.Article

@{
    ViewData["Title"] = Model.Title;
    ViewData["Description"] = Model.Title;
    ViewData["Keywords"] = Model.Title;
}

@section Styles{
    <link href="//cdnjs.cloudflare.com/ajax/libs/github-markdown-css/2.10.0/github-markdown.min.css" rel="stylesheet" />
    <link href="~/lib/highlight/styles/vs.css" rel="stylesheet" />
    <style>
        .div { background: red; }
    </style>
}

@section Scripts{
    <script src="~/lib/highlight/highlight.pack.js"></script>
    <script>
        hljs.initHighlightingOnLoad();
    </script>
}

<div class="jumbotron">
    <div class="container body-content animated fadeInLeft">
        <h1 class="display-6 mb-4" style="overflow-wrap:break-word">@Model.Title</h1>
        <p class="lead text-muted mb-1">
            <i class="fa fa-calendar"></i>
            @Model.CreateTime.ToString("yyyy/MM/dd")
        </p>
        <p class="lead text-muted mb-4">
            <i class="fa fa-line-chart" aria-hidden="true"></i>
            @Model.ViewCount
        </p>
        @if (User.IsInRole("Owner"))
        {
            <a class="btn btn-outline-primary" href="@Url.Action("Edit", new { Id = Model.Id })">
                <i class="fa fa-pencil"></i>
                编辑
            </a>
        }
    </div>
</div>

<div class="container body-content animated fadeIn">
    <div class="markdown-body" style="padding-bottom:3rem; font-family:'Microsoft YaHei'">
        @Html.Raw(@Model.Content)
    </div>
</div>