@model HappyDog.Domain.DataTransferObjects.Article.ArticleDetailDto

@{
    ViewData["Title"] = Model.Title;
    ViewData["Description"] = Model.Title;
    ViewData["Keywords"] = Model.Title;
    int articleId = int.Parse(ViewContext.RouteData.Values["id"].ToString());
}

@section Styles{
    <link href="//cdnjs.cloudflare.com/ajax/libs/github-markdown-css/2.10.0/github-markdown.min.css" rel="stylesheet" />
    <link href="~/lib/highlight/styles/vs.css" rel="stylesheet" />
    <style>
        .div {
            background: red;
        }
    </style>
}

@section Scripts{
    <script src="~/lib/highlight/highlight.pack.js"></script>
    <script src="~/js/initial.min.js"></script>
    <script>
        hljs.initHighlightingOnLoad();
        $('img.avatar').initial();
    </script>
}

<div class="jumbotron">
    <div class="container body-content animated fadeInLeft">
        <h1 class="display-6 mb-4" style="overflow-wrap:break-word">@Model.Title</h1>
        <p class="lead text-muted mb-1">
            <i class="fa fa-calendar"></i>
            @Model.CreateTime.ToString("yyyy/MM/dd")
        </p>
        <p class="lead text-muted mb-4">
            <i class="fa fa-line-chart" aria-hidden="true"></i>
            @Model.ViewCount
        </p>
    </div>
</div>

<div class="container body-content animated fadeIn">
    <div class="markdown-body" style="padding-bottom:3rem; font-family:'Microsoft YaHei'">
        @Html.Raw(@Model.Content)
    </div>
    <vc:post-comment article-id="@articleId"></vc:post-comment>
    <vc:comments article-id="@articleId"></vc:comments>
</div>
