@model HappyDog.Domain.Entities.Article

@{
    ViewData["Title"] = Model.Title;
    ViewData["Description"] = Model.Title;
    ViewData["Keywords"] = Model.Title;
}

@section Styles{
    <link href="//cdnjs.cloudflare.com/ajax/libs/github-markdown-css/2.10.0/github-markdown.min.css" rel="stylesheet" />
}

@section Scripts{
    <script src="//cdn.bootcss.com/showdown/1.8.6/showdown.min.js"></script>
    <script>
        var converter = new showdown.Converter();
        $('.markdown-body').html(converter.makeHtml($('#Content').val()))
    </script>
}

<div class="jumbotron">
    <div class="container body-content animated fadeInLeft">
        <h1 class="display-6 mb-4">@Model.Title</h1>
        <p class="lead text-muted mb-1">
            <i class="fa fa-calendar"></i>
            @Model.CreateTime.ToShortDateString()
        </p>
        <p class="lead text-muted mb-4">
            <i class="fa fa-line-chart" aria-hidden="true"></i>
            @Model.ViewCount
        </p>
        @if (User.Identity.IsAuthenticated)
        {
            <a class="btn btn-outline-primary" href="@Url.Action("Edit", new { Id = Model.Id })">
                <i class="fa fa-pencil"></i>
                编辑
            </a>
        }
    </div>
</div>

<div class="container body-content animated fadeIn">
    @Html.HiddenFor(m => m.Content)
    <div class="markdown-body" style="padding-bottom:3rem"></div>
</div>