@model List<HappyDog.Domain.DataTransferObjects.Tag.TagDto>
@{
    ViewData["Title"] = "标签列表";
    ViewData["Description"] = "标签列表";
    ViewData["Keywords"] = "标签列表";
}

<div class="container body-content pt-4 pb-4 animate__animated animate__fadeIn">
    @foreach (var tag in Model)
    {
        <a href="@Url.Action("Article",new { name = tag.Name })"
           class="btn btn-default m-1@(string.IsNullOrEmpty(tag.Color) ? " border-secondary text-secondary" : string.Empty)"
           style="@(string.IsNullOrEmpty(tag.Color) ? string.Empty : $"color: {tag.Color}; border-color: {tag.Color}")">
            @if (string.IsNullOrEmpty(tag.Glyph) || string.IsNullOrEmpty(tag.GlyphFont))
            {
                <span class="fa fa-tag"></span>
            }
            else
            {
                <span style="font-family: '@tag.GlyphFont'; font-weight: 900">@Html.Raw(tag.Glyph)</span>
            }
            @tag.Name
        </a>
    }
</div>