@model List<HappyDog.Domain.DataTransferObjects.Tag.TagDto>
@{
    ViewData["Title"] = "标签列表";
    ViewData["Description"] = "标签列表";
    ViewData["Keywords"] = "标签列表";
}

<div class="container body-content pt-4 pb-4 animated fadeIn">
    @foreach (var tag in Model)
    {
        if (string.IsNullOrEmpty(tag.Color))
        {
            <a href="@Url.Action("Article",new { name = tag.Name })" class="btn btn-default border border-secondary text-secondary m-1">
                <i class="fa fa-tag"></i>
                @tag.Name
            </a>
        }
        else
        {
            <a href="@Url.Action("Article",new { name = tag.Name })" class="btn btn-default m-1" style="border-color: @tag.Color; color: @tag.Color">
                <i class="fa fa-tag"></i>
                @tag.Name
            </a>
        }
    }
</div>